@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
body{
  margin: 0;
  background-color: #4a4a4a;
  font-family: 'Roboto Mono', monospace;
  color: white;
  height: 100vh;
}
#ver{
  position: fixed;
  left: 5px;
  bottom: 5px;
  font-size: 10px;
}
input, textarea, select { font-family:inherit; font-size: inherit;}
svg{
  position: relative;
  height: 400px;
  aspect-ratio: 1;
}
circle{
  position: relative;
  visibility: hidden;
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
}
#timer{
  height: 400px;
  aspect-ratio: 1;
  position: relative;
  margin: auto;
  top: 50%;
  overflow: hidden;
  transform: translate(0, -50%) ;
}
#flex{
  font-size: 2em;
  position: absolute;
  width: 180px;
  left: 50%;
  top: 50%;

  transform: translate(-50%);

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#time, #playBtn, #pauseBtn{
  border: 0;
  color: white;
  background-color: black;
  padding: 15px;
  border-radius: 5px;
  margin-block: 4px;
  cursor: default;
}
#playBtn, #pauseBtn{
  cursor: pointer;
}
#time{
  position: relative;
  width: 200px;
  break-after: always;
  text-align: center;
}
#time:focus{
  outline: 0;
}